[include]
  path = ~/.gitconfig.local
[core]
	excludesfile = ~/.gitignore_global
[color]
	diff = auto
	branch = auto
	status = auto
[rebase]
	autostash = true
[init]
	defaultBranch = main
[fetch]
	prune = true
[url "ssh://git@github.com"]
	insteadOf = https://github.com
[alias]
	delete-branch = !git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -D
